<%- include('./partials/header') %>

    <script type="text/javascript">
        document.addEventListener('alpine:init', () => {
            Alpine.data('dashboardPage', () => ({
                username: '',
                currentTab: 'posts',

                init() {

                },

                setTab(tabName) {
                    this.currentTab = tabName;
                },

                logout() {
                    window.location.href = '/admin/login';
                }
            }))
        });
    </script>

    <div x-data="dashboardPage" x-init="init()">
      <header>
        <div id="admin-welcome-message">
          Welcome <%= username %>! See your blog <a href="//<%= subDomain %>" target="_blank">here</a>.
        </div>
        <h1>Pipa Blog Engine - Admin Panel</h1>
        <nav>
          <ul>
            <li><a x-href="javascript://" @click="setTab('posts')">Posts</a></li>
            <li><a x-href="javascript://" @click="setTab('pages')">Pages</a></li>
            <li><a x-href="javascript://" @click="setTab('settings')">Settings</a></li>
            <li><a x-href="javascript://" @click="logout()">Logout</a></li>
          </ul>
      </header>

      <main id="admin-dashboard-main-content">
        <div id="manage-settings-section" x-show="currentTab === 'settings'">
            <%- include('./dashboard/blog-settings', { blogId }) %>
          </div>

          <div id="manage-posts-section" x-show="currentTab === 'posts'">
            <%- include('./dashboard/manage-posts', { blogId }) %>
          </div>

          <div id="manage-pages-section" x-show="currentTab === 'pages'">
            <%- include('./dashboard/manage-pages', { blogId }) %>
          </div>
      </main>
    </div>

 <%- include('./partials/footer') %>
