<%- include('partials/header') %>

  <script type="text/javascript">
        document.addEventListener('alpine:init', () => {
            Alpine.data('editPage', () => ({
              title: '',
              body: '',
              errorMessage: '<%= errorMessage %>',

              init() {
                  fetch(`/api/blogs/<%= blogId %>/pages/<%= pageId %>`, {
                      method: 'GET',
                      headers: {
                          'Content-Type': 'application/json',
                          'Authorization': 'Bearer ' + getCookie('admin_jwt_token')
                      }
                    }).then(response => response.json()).then(data => {
                        this.title = data.title || '';
                        this.body  = data.body || '';

                        if (this.quill) {
                            this.quill.root.innerHTML = this.body || '';
                        }
                    })
                    .catch(err => {
                        this.errorMessage = 'Failed to load post data.';
                    });
              },

              initQuill() {
                  this.quill = new Quill(this.$refs.quillEditor, {
                    placeholder: 'Compose an epic...',
                    theme: 'snow',
                    modules: {
                      toolbar: '#toolbar',
                    }
                  });
                  this.quill.on('text-change', () => {
                    this.body = this.quill.root.innerHTML;
                  });
              },

              submitForm($ev) {
                  if (this.title === '' || this.content === '') {
                      this.errorMessage = 'Title and Content are required.';
                      return;
                  }

                  fetch($ev.target.getAttribute('action'), {
                      method: $ev.target.getAttribute('method'),
                      headers: {
                          'Content-Type': 'application/json',
                          'Authorization': 'Bearer ' + getCookie('admin_jwt_token')
                      },
                      body: JSON.stringify({
                          title: this.title,
                          body: this.body || ''
                      })
                  }).then(response => response.json()).then(data => {
                      window.location.href = '/admin/dashboard';
                  }).catch(error => {
                      this.errorMessage = 'An error occurred while updating the post.';
                  });
              }
            }))
        });
  </script>

  <div class="admin-edit-page" x-data="editPage" x-init="init()">
    <div class="admin-edit-page-header">
      <div class="admin-edit-page-header-left">
        <a href="/admin/dashboard" class="admin-back-link">Back to Dashboard</a>
      </div>
      <div class="admin-edit-page-header-right">
        <button form="edit-post-form" type="submit" class="admin-save-button">Save Changes</button>
      </div>
    </div>

    <div id="toolbar">
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-link"></button>
      </span>
    </div>

    <div class="admin-edit-page-content" x-init="init()">
      <form id="edit-post-form" action="/api/blogs/<%= blogId %>/pages/<%= pageId %>" method="PUT" @submit.prevent="submitForm">
        <div class="admin-error-message" x-show="errorMessage" x-text="errorMessage">
          <%= errorMessage %>
        </div>

        <div>
            <label for="title" hidden>Title:</label>
            <textarea id="title" name="title" x-model="title" rows="1" placeholder="Title"></textarea>
        </div>

        <div>
          <label for="content" hidden>Content</label>
          <textarea id="body" name="body" x-model="body" hidden></textarea>
          <div id="editor" x-ref="quillEditor" x-init="initQuill()"></div>
        </div>
      </form>
    </div>
  </div>

<%- include('partials/footer') %>
